@model Ex3.Models.OnesSampleModel

@{
    ViewBag.Title = "One Sample Display";
}

<style>

    body {
        background-image: url("../../Map/export-map-share.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<style>
    .dot {
        height: 8px;
        width: 8px;
        color: blue;
        border-radius: 50%;
        display: inline-block;
        position: center;
        background-color: red;
        box-shadow: 0 0 0 2px;
        position: absolute;
    }
</style>

<h2>display</h2>
 var lon = @Model.Lon;
 var Lat = @Model.Lat
<head>

</head>
<body>
    <canvas class="dot"></canvas>
</body>