
@{
    ViewBag.Title = "displaySeconds";
}

<h2>displaySeconds</h2>

<style>
    body {
        background-image: url("../../../Map/export-map-share.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .dot {
        height: 8px;
        width: 8px;
        color: blue;
        border-radius: 50%;
        display: inline-block;
        position: center;
        background-color: red;
        box-shadow: 0 0 0 2px;
        position: absolute;
    }
</style>
<h2>display</h2>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <canvas id="myCanvas"></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx = canvas.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;
        var IntervalTime = @ViewBag.seconds * 1000
        var k = 1;
    myTimer = (function () {
        $.post( "@Url.Action("SampleValues")").done(function (xml) {
            var xmlDoc = $.parseXML( xml ),
            $xml = $( xmlDoc ),
            lon = $xml.find("Lon").text();
            lon = (lon + 180) * ($(window).width() / 360) + k;
            lat = $xml.find("Lat").text();
            lat = (lat + 180) * ($(window).height() / 360) + k;
            ctx.lineTo(lon, lat);
            ctx.lineWidth = 2;
            ctx.lineStyle = 'red';
            ctx.stroke();
            ctx.beginPath();
            ctx.arc(lon, lat, 4, 0, 2 * Math.PI);
            ctx.lineWidth = 2;
            ctx.lineStyle = 'blue';
            ctx.fillStyle = 'red';
            ctx.fill();
            ctx.stroke();
  
        });
    });
    </script>
</body>