
@{
    ViewBag.Title = "One Sample Display";
}

<style>
    body, html {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    body {
        background: url("../../../Map/export-map-share.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
<body>
    <canvas id="myCanvas"></canvas>
    <script>
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");
            ctx.canvas.width = window.innerWidth;
            ctx.canvas.height = window.innerHeight;
            var lon = (@ViewBag.Lon + 180) * (window.innerWidth / 360);
            var lat = (@ViewBag.Lat + 90) * (window.innerHeight / 180);
            drawCircle(ctx, lon, lat);
    </script>
</body>