@model Ex3.Models.OnesSampleModel

@{
    ViewBag.Title = "One Sample Display";

}
<h2>display</h2>

<head>
    meta charset= "utf-8"
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<style>
    body {
        background-image: url("../../Map/export-map-share.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


<body>
    <canvas id="myCanvas"></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;
        var lon = (0 + 180) * ($(window).width() / 360);
        var lat = (0 + 180) * ($(window).height() / 180);
        ctx.beginPath();
        ctx.arc(lon,lat, 4, 0, 2 * Math.PI);
        ctx.lineWidth = 1;
        ctx.lineStyle = 'blue';
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.stroke();

    </script>

</body>