@{
    ViewBag.Title = "displayLine";
}
<style>
    body {
        background: url("../../../Map/export-map-share.png")no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
</style>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <canvas id="myCanvas"></canvas>

    <script>
        $.getScript('../../../Scripts/Draw.js', function () {
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");
            ctx.canvas.width = window.innerWidth;
            ctx.canvas.height = window.innerHeight;
            var IntervalTime =  1000 * @ViewBag.seconds;
            var reruenValues = drawCircleAndLine(@ViewBag.Lon, @ViewBag.Lat, true, ctx, null);
            var prevLon = reruenValues.Lon;
            var prevLat = reruenValues.Lat;
            myTimer = (function myTimer() {
            $.post("@Url.Action("SaveValues")").done(function (xml) {
                reruenValues = drawCircleAndLine(prevLon, prevLat, false, ctx, xml);
                prevLon = reruenValues.Lon;
                prevLat = reruenValues.Lat;
                });
            });
            interval = setInterval(myTimer, IntervalTime);
        });
    </script>
</body>