@{
    ViewBag.Title = "displayLine";
}
<style>
    body {
        background: url("../../../Map/export-map-share.png")no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
</style>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <div id="text1"></div>
    <div id="text2"></div>
    <canvas id="myCanvas"></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;

        var IntervalTime = @ViewBag.seconds * 1000
        var x = 0;
        var y = 0;
        var firstIterFlag = true;
        var prevLon;
        var prevLat;
        var currentLon;
        var currentLat;
    myTimer = (function () {
        $.post( "@Url.Action("GetValues")").done(function (xml) {
            var xmlDoc = $.parseXML(xml),
            $xml = $(xmlDoc),
            Lon = $xml.find("Lon").text();
            currentLon = parseFloat(Lon) +x;
            currentLon = (currentLon + 180) * (window.innerWidth / 360);
            Lat = $xml.find("Lat").text();
            currentLat = parseFloat(Lat) +y;
            currentLat = (currentLat + 90) * (window.innerHeight / 180);
            document.getElementById("text1").innerText = currentLat;
            document.getElementById("text2").innerText = currentLon;
            if (firstIterFlag) {
                ctx.beginPath();
                ctx.arc(currentLon, currentLat, 4, 0, 2 * Math.PI);
                ctx.lineWidth = 2;
                ctx.lineStyle = 'blue';
                ctx.fillStyle = 'red';
                ctx.fill();
                ctx.stroke();
                firstIterFlag = false;
            } else {
                ctx.beginPath();
                ctx.lineWidth = 2;
                ctx.strokeStyle = 'red';
                ctx.moveTo(prevLon, prevLat);
                ctx.lineTo(currentLon, currentLat);
                ctx.stroke();
            }
            prevLat = currentLat;
            prevLon = currentLon;
            x = x + 50;
            y = y + 10;
            });
        });
        setInterval(myTimer, IntervalTime);
        myTimer();
    </script>
</body>