
@{
    ViewBag.Title = "One Sample Display";
}

<style>
    body {
        background-image: url("../../../../../Map/export-map-share.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

   
</style>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <canvas id="myCanvas"></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;
        var lon = (@ViewBag.Lon + 180) * ($(window).width() / 360);
        var lat = (@ViewBag.Lat + 180) * ($(window).height() / 360);
        ctx.beginPath();
        ctx.arc(lon, lat, 4, 0, 2 * Math.PI);
        ctx.lineWidth = 2;
        ctx.lineStyle = 'blue';
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.stroke();
    </script>
</body>